#animeSample {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid blue;
    margin: 50px auto;
}

#animeSample2 {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid palevioletred;
    margin: 50px auto;
}

#animebtn {
    background-color: greenyellow;
    color: green;
    width: 4.5rem;
    height: 1.5rem;
    margin: 50px auto;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: 'Hiragino Maru Gothic ProN', sans-serif;
}

#btn {
    display: none;
}

#animebtn:hover {
    background-color: green;
    color: greenyellow;
}